body,
html {
    display: flex;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 12px;
    overflow: hidden;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#backyard {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#hiddenCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    display: none;
}

#menu {
    display: flex;
    flex-flow: column;
    position: absolute;
    z-index: 22;
    width: 280px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(20, 20, 25, 1);
}

#black-tint {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: -10;
    opacity: 1;
    transition: opacity 0.4s;
    visibility: hidden;
}

#info-window {
    display: flex;
    z-index: 10;
    background-color: #191919;
    max-width: 350px;
    padding: 24px;
}

#info-window span {
    text-align: center;
}

.text-0 {
    color: #DDDDDD;
    font-size: 10px;
    margin-right: -120px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.text-a {
    color: #EDEDED;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-b {
    color: #DEDEDE;
    font-size: 12px;
}

.text-c {
    color: #DEDEDE;
    font-size: 12px;
    margin-top: -15px;
}

.text-d {
    color: #DEDEDE;
    font-size: 12px;
}

.highlight {
    color: #25AAEE;
}

#logo-ao {
    display: block;
    width: 114px;
    height: 114px;
    padding-bottom: 0px;
    margin-top: -20px;
}

#logo-info {
    display: block;
    padding: 20px;
}

#info-close {
    display: flex;
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    right: 100px;
}

#inside-left {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
}

#mxgLogo {
    padding: 10px;
    align-self: center;
}

#settings {
    background-color: rgba(255, 255, 255, 0);
    padding: 8px;
    /*height: 500px;*/
}

hr {
    width: 100%;
    border-color: #DDDDDD;
    opacity: 0.4;
}

#action-lock-color {
    position: relative;
}

.enabled a img {
    background-color: rgba(20, 50, 80, 0.7);
}

#settings-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    opacity: 0.5;
    width: 36px;
}

#close-button {
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    width: 100%;
    height: 48px;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

#close-button:hover {
    background-color: brown;
    transition: 0.3s;
}

#close-button img {
    display: flex;
    align-self: center;
    width: 32px;
    height: 32px;
}

#menu {
    width: 300px;
    left: 100%;
    position: relative;
    height: 100%;
}

.center-text {
    text-align: center;
}

#lightSourceDiv {
    margin-top: 10px;
    height: 0px;
    overflow-y: hidden;
}

.light-source-btn {
    height: 25px;
    width: 25px;
    display: inline-flex;
    padding: 2px;
    transition: 0.1s linear;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.light-source-btn img {
    height: 80%;
    width: 80%;
}

#light-source-btn-1 img {
    transform: rotate(135deg);
}

#light-source-btn-2 img {
    transform: rotate(180deg);
}

#light-source-btn-3 img {
    transform: rotate(210deg);
}

#light-source-btn-4 img {
    transform: rotate(90deg);
}

#light-source-btn-6 img {
    transform: rotate(270deg);
}

#light-source-btn-7 img {
    transform: rotate(45deg);
}

#light-source-btn-8 img {
    transform: rotate(0deg);
}

#light-source-btn-9 img {
    transform: rotate(300deg);
}

.light-source-btn.active {
    background-color: brown;
}

.grid {
    display: flex;
    align-content: center;
    justify-content: center;
}

.by1 {
    width: 100%;
}

.by2 {
    width: 50%;
}

#downloadDialog {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
    height: 0px;
}

#shareDialog {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow-y: hidden;
    height: 0px;
}

#shareDialog img:hover {
    background-color: brown;
}

#shareDialog img {
    width: 20px;
    height: 20px;
    padding: 8px;
}

.button-a {
    display: flex;
    justify-content: center;
    color: white;
    padding: 4px;
    border-radius: 10px;
    margin: 4px;
    text-align: center;
    font-weight: 600;
    height: 18px;
    width: 50%;
    background-color: "transparent";
    transition: 0.3s;
}

.button-a:hover {
    transition: 1s;
}

#downloadDialog div {
    border: 0px;
}

#download-1920 {
    width: 50%;
}

.grid-element {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

.grid-element:first-child {
    margin-left: 0px;
}

.grid-element:hover {
    transition: 0.5s;
}

.element-enabled {
    transition: 0.1s;
}

.grid-text {
    padding: 2px;
    margin-left: 4px;
}

.resize18 {
    width: 18px;
    height: 18px;
}

.isolated-text {
    display: flex;
    padding: 4px;
    margin-left: 5px;
}


/*select-menu*/

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    height: 32px;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

.select-styled:hover {
    background-color: rgba(165, 42, 42, 0.2);
}

.select-styled:active,
.select-styled.active {
    background-color: rgba(165, 42, 42, 0.2);
}

.select-styled:active:after,
.select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #fff transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(35, 35, 35, 1);
}

.select-options li {
    margin: 0;
    padding: 6px 0;
    text-indent: 12px;
    /*border-top: 1px solid rgba(21, 21, 26, 1);*/
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.select-options li:hover {
    background-color: rgba(165, 42, 42, 0.2);
}